/* Work Sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
/* shart style */
* {
  font-family: 'Work Sans', sans-serif;
}
.primary-btn {
  border-radius: 8px;
  background: #ff900e;
  width: 180px;
  height: 64px;
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0px;
}
/* header area style start */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 35px 210px;
}
.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ul > ul {
  display: flex;
  list-style: none;
}
nav li {
  margin-right: 30px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
nav h1 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #131313;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner style start */
.banner-title {
  color: #131313;
  text-align: center;
  font-family: Work Sans;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.banner-descripition {
  color: #727272;
  text-align: center;
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.banner-contain {
  text-align: center;
}
.banner-imgg {
  width: 100%;
}
.banner-image {
  margin-top: 50px;
}
.feature {
  padding: 35px 210px;
}
.feature-picture {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.Quick-list {
  color: #727272;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.of-Our {
  color: #131313;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product {
  padding: 35px 210px;
}
.product-container {
  display: flex;
  gap: 100px;
}
.cardd {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.pp-hh {
  color: #131313;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-left: 5px solid rgb(255, 130, 5);
  padding-left: 10px;
}
.product-para {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 30px;
}
.ten-years-baatch {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 342px;
  padding: 40px;
  position: relative;
  bottom: 100px;
}
.ten-years-baatch h2 {
  font-size: 4rem;
  margin: 0;
}
.ten-years-baatch p {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
}
.card-titiilee {
  color: #131313;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-ppp {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.Features {
  color: #ff900e;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.feature-p {
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 32px;
}
.product-pic img {
  height: 90%;
  margin-left: 90px;
}
.facts-section {
  padding: 35px 210px;
}
.facts-section h3 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #131313;
}
.facts-depsciption {
  font-family: Work Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  color: #727272;
}
.facts-card-container {
  display: flex;

  justify-content: space-around;
  margin-top: 100px;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  width: 241.831px;

  text-align: center;
  padding: 40px 20px;
}

.card-number {
  color: #424242;

  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-title {
  color: #727272;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}
.sponser-area {
  padding: 35px 210px;
}
.sponser {
  text-align: center;
}
.sponser-title {
  color: #131313;

  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sponser-dep {
  color: #727272;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.sponser-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.sponser-logos img {
  width: 165px;
}
footer {
  padding: 35px 210px;
}
.footer {
  border-radius: 8px;
  background: #fff4e7;
  padding: 40px 410px;
  text-align: center;
  margin-top: 70px;
}
/* responsive media querirs */
/* mobile Devise */
@media screen and (max-width: 576px) {
  header,
  .facts-section {
    padding: 20px;
  }
  .nav-title,
  .facts-card-container,
  .sponser-logos,
  .product-container {
    flex-direction: column;
  }
  nav h1 {
    text-align: center;
  }
  .feature-picture {
    grid: none;
  }
  .feature,
  .sponser-area,
  .product,
  footer,
  .footer {
    padding: 20px;
  }
  .product-pic img {
    width: 90%;
    padding: 20px;
    margin: 0;
  }
  .ten-years-baatch {
    position: static;
    max-width: 300px;
  }
}
/* For i pad */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  .nav-title {
    flex-direction: column;
  }
  .feature {
    padding: 20px;
  }
}
